<html>
    <head>
        <style>
            body
            {
                font-family: Verdana, Verdana, Geneva, sans-serif;
            }
            
            .header
            {
                clear:both;
                overflow: hidden;
                padding: 20px;
            }
            
            .header img
            {
                width: 100px;
                height: 100px;
                float: left;
                
                margin-right: 10px;
            }
            
            .header .myCompany
            {
                float: left;
                font-size: smaller;
                margin-top: -20px;
            }
            
            .header .otherCompany
            {
            	float: right;
            	padding: 15px;
            	border: 1px solid lightgray;
            	background-color: #fafafa;
                font-size: smaller;
            }
            
            .content
            {
                margin-top: 20px;
                padding: 30px;
                border: 1px solid lightgray;
                background: #fcfcfc;
                border-radius: 3px;
            }
            
            table
            {
                width: 100%;
                font-size: smaller;
            }
            
            tr:nth-child(even)
            {
                background-color: #f0f0f0;
            }
            
            tr th
            {
                color: gray;        
                border-bottom: 1px solid lightgray;
            }
            
            tr th, tr td
            {
                font-weight: normal;
                padding: 5px;
                margin: 0;
                width: 20%;
                text-align: center;
            }
            
            td
            {
                font-size: smaller;
            }
            
            .footer
            {
                font-size: 12px;
                padding: 20px;
                margin: 0;
                text-align: right;
                
            }
        </style>
        <meta name="viewport" id="view" content="width=320px, minimum-scale=1.0, maximum-scale=1.0">
    </head>
    <body>   
        {{#documentHeader}}
        Non so
        {{/documentHeader}}

        {{#pageHeader}}        
        <div class='header'>
            <img src='http://www.firebirdsql.org/file/about/ds-firebird-logo-100.png' />
            

            <div class='myCompany'>
                <h1>{{companyName}}</h1>
                {{companyAddress}} <br />
                {{companyTelephone}} <br />
                {{companyEmail}}
            </div>
            
            <div class='otherCompany'>
            	<b>Spett.le {{otherCompanyName}}, </b><br />
            	Via da definire, 1 <br />
            	70100 Bari (BA)
            </div>
        </div>
        {{/pageHeader}}
        
        {{#pageContent}}  
        <div class='content' style='padding: 5px;'>
        <table cellspacing='0'>
        	<tr>
        		<td><b>Codice Cliente:</b> 5</td>
        		<td><b>Telefono:</b> 3339998887</td>
        		<td><b>Agente:</b> Mario Verdi</td>
                <td><b>Data Stampa:</b> 09/11/2012</td>
        	</tr>
        </table>
        </div>
             

        <div class='content'>
            <table cellspacing='0'>
                <tr>
                    <th>Numero Doc.</th>
                    <th>Data Doc.</th>
                    <th>Data Scad.</th>
                    <th>Note Incasso</th>
                    <th>Importo Originario</th>
                    <th>Importo Effettivo</th>
                    <th>Importo Incassato</th>
                </tr>
                
                {{#articles}}
                <tr>
                    <td>{{number}}</td>
                    <td>{{date}}</td>
                    <td>{{due}}</td>
                    <td>{{notes}}</td>
                    <td>€ {{originalTotal}}</td>
                    <td>€ {{effectiveTotal}}</td>
                    <td>€ {{receivedTotal}}</td>
                </tr>
                {{/articles}}
            </table>
        </div>
        
        <div class='content' style='width: 250px; float: right; font-size: smaller'>
            <b>Saldo totale: </b>{{total}}
        </div>
        {{/pageContent}}

        {{#pageFooter}}
        <div class='footer'>
            Pagina {{pageNumber}}
        </div>    
        {{/pageFooter}}      
        
        
        
    </body>
</html>